<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="apiKey" value="send grid api key"/>
	<add key="user" value="send grid user"/>
	<add key="userEmail" value="email attached to sendgrid account"/>
	<add key="adminEmail" value=""/>
	<add key="adminPassword" value="must be at least 8 characters and must contain capital,small,numeric and special characters"/>

</appSettings>

