
@{
    ViewBag.Title = "inSpark";
}
<body>
    <section class="main">
        <div class="main-bd">
            <h1 class="title">We spark up <br> your business...</h1>
            <p>
                Inspark Enterprise is a full-service
                digital agency specializing in digital
                consulting, web design & development,
                application design & development,
                and digital marketing.
            </p>
            <span class="btn-blue">Request a Quote</span>
        </div>
        <div class="main-hero">

            <img src="~/Content/images/illustration-hero.svg" alt="">
        </div>
    </section>

    <section id="services">

        <h1 class="title">Our Services</h1>
        <div class="services-container">
            <div class="service">
                <img src="~/Content/images/home.svg" alt="">
                <h2>
                    Corporate Branding
                </h2>
                <p>
                    We’ll discover, define, and direct your brand
                    communications to capture and captivate your audience across digital,
                    and print.
                </p>
            </div>
            <div class="service">
                <img src="~/Content/images/home.svg" alt="">
                <h2>
                    Graphics Design
                </h2>
                <p>
                    We integrate our creativity, expertise and your idea,
                    to bring results that speak of brand consistency,
                    and fresh design that will set your company apart.
                    Our designs amplify your brand personality, streng
                </p>
            </div>
            <div class="service">
                <img src="~/Content/images/home.svg" alt="">
                <h2>
                    Web Development
                </h2>
                <p>

                    We design and build websites to impact sales,
                    influence advocacy, and increase lead generation.
                    Our team of designers is skilled at creating landing
                </p>
            </div>
            <div class="service">
                <img src="~/Content/images/home.svg" alt="">
                <h2>
                    Mobile App Development
                </h2>
                <p>

                    We work to deliver solutions for an array of business needs,
                    we provide app development services for all kinds of users,
                    operating systems, and platforms.
                </p>
            </div>
            <div class="service">
                <img src="~/Content/images/home.svg" alt="">
                <h2>
                    Social Media Management
                </h2>
                <p>
                    We make brands more likable and profitable via social media.
                    Instills the same vibe and personality people experience at your company across the
                </p>
            </div>
            <div class="service">
                <img src="~/Content/images/home.svg" alt="">
                <h2>
                    Custom Software Development
                </h2>
                <p>
                    We thrive at helping companies prioritize the most
                    pressing problems to work on and then build custom software to support them.
                </p>
            </div>

        </div>

    </section>

    <section id="approach">
        <div id="approach-img">
            <img src="~/Content/images/approach.jpg" alt="">

        </div>
        <div id="approach-bd">
            <h2 class="title">Our Approach</h2>
            <p>
                We’re a professional in-house team of designers,
                developers, marketers, and strategists.
                Our drive is to help you do better business through the right digital medium.
            </p>

        </div>
    </section>

    <section id="why">
        <div class="why-bd">
            <h1 class="title">Why Work With Us?</h1>
            <p>
                We’re a business full of creative, talented individuals who work together
                as a team to create innovative and engaging interactive experiences.
            </p><p>
                To build a society where businesses and organizations will utilize tech to provide solutions to their everyday needs.
            </p>
        </div>
        <div class="why-img">
            <img src="~/Content/images/why.svg" alt="">

        </div>

    </section>
    <div id="clients">
        <div class="clients-img">
            <img src="~/Content/images/clients.svg" alt="">
        </div>
        <div class="clients-bd">
            <h2 class="title">
                Our Past Clients Can Speak For Us
            </h2>
            <p>

                We bring a human touch to your solution, whether,
                digital marketing, web development, custom software development,
                no matter what technology you need.
            </p>
        </div>
    </div>
    <div id="contact">
        <div class="contact-form">
            <h2 class="title">We love to hear from you</h2>
            <form action="">
                <input type="text" placeholder="Enter Fullname">
                <input type="email" placeholder="Enter Email Address">
                <input type="text" placeholder="Enter Message">
                <input type="submit">

            </form>
        </div>
        <div class="contact-info-container">
            <div class="contact-info">
                <img src="~/Content/images/location.svg" alt="">
                <p> KM 7 Port Harcourt - Enugu Expressway, Ugwuaji, Enugu</p>
            </div>
            <div class="contact-info">
                <img src="~/Content/images/time.svg" alt="">
                <p> Weekdays (Mon - Fri): 8am - 5pm</p>
            </div>
            <div class="contact-info">
                <img src="~/Content/images/phone.svg" alt="">
                <p> (+234)-701-000-1111</p>
            </div>

        </div>

    </div>


    <a href="#top" id="btn-top"> <i class="fas fa-chevron-up fa-2x"></i></a>
    <div class="mytool-tip" id="mytool-tip">
        <p >Back to top</p>
    </div>


</body>

@section scripts {
    <script type="text/javascript" src="~/Content/js/index.js">

    </script>
}