@model inSpark.Dtos.JobApplicationStatusViewModel
@{
    ViewBag.Title = "ApplicaionStatus";
    string message;
    if (@Model.JobApplicationStatus == inSpark.Infrastructure.Services.JobApplicationStatus.ApplicationClosed)
    {
        message = "Your Application for the " + Model.JobTitle +" position was not successful because Application has being closed";
    }
    else if(@Model.JobApplicationStatus == inSpark.Infrastructure.Services.JobApplicationStatus.Successuful)
    {
        message = "Your Application for" + Model.JobTitle + " was  successful.";
    }
    else
    {
        message = "An Error occured during Your Application for the " + Model.JobTitle + " position";
    }

}

<div class="jr-con">
    <h2 >Application Status</h2>
    <p >
        Hi @Model.ApplicantName, 
        @message
    </p>
</div>


