@model inSpark.Dtos.ReApplyViewModel
@{
    ViewBag.Title = "ReApply";
}

<div class="jr-con" >
    <h2 >Application Status</h2>
    <p>
        Hi @Model.ApplicantName,
        You already applied for the @Model.JobTitle Job,
         Do you Want to Update your Application Details?
    </p>
    <div>
        @Html.ActionLink("Yes", "UpdateApplication", "Jobs", new { applicantId = Model.ApplicantId }, null)
        @Html.ActionLink("No", "Index", "Home")
    </div>
</div>


