
/* admin aside styles*/
.admin-aside, .admin-main-header {
    display: none;
}
.admin-page-con::before, .admin-page-con ::after{
    display:none;
}

.admin-info{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column-reverse;
}

.admin-stats-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:3em;
}
.admin-info-card {
    border-radius: 10px;
    background-color:white;
    box-shadow: -4px 3px 23px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 3px 23px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 3px 23px -15px rgba(0,0,0,0.75);
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 2em;
}

@media only screen and (min-width:900px){
    .admin-page-con{
        display:flex;
        flex-direction:row;
    }
    .admin-aside-header, .admin-main-header{
        height:5em;
        background-color:var(--blue-1);
        color:white;
        display:flex;
        width:100%;
        justify-content:center;
        align-items:center;
        font-weight:bold;
        font-size:larger;
        
    }

    .admin-main-header{
        justify-content:space-around;
        /*padding-left:20%;
        padding-right:20%;*/
    }
    .admin-info {
        display: none;
    }
    .admin-aside {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: column;
        width: 20%;
        background-color: var(--blue-1);
        min-height:calc(100vh - 180px)
    }
    .admin-aside-content{
        padding-top:2.5em
    }

    .admin-aside-content div a{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        min-width:14em;
        color: white;
        padding:0;
    }

        
        .admin-aside-content div {
            margin: 1.5em;
        }
        .admin-aside-content div a:hover {
            color: gray;
        }
    .admin-main {
        width: 80%;
        background-color: rgb(248,248,255);
    }

    .admin-stats-section {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        padding: 0.5em 3em;
        justify-content:center;
    }
    .admin-info-card{
        width:25%;
    }

}